@import '~antd/dist/antd.css'; // Import Ant Design styles by less entry
@import './reset.less';
@import './base.less';
html {
  font-size:14px;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: @black;
  background-color: @white;
  line-height: 1.5;
}
h1 {
  font-size: @font7;
  margin-top:  @margin-base * 3;
  margin-bottom:  @margin-base * 3;
}
h2 {
  font-size: @font6;
  margin-top:  @margin-base * 2;
  margin-bottom:  @margin-base * 2;
}
p {
  font-size: @font2;
  margin-top: @margin-base;
  margin-bottom:  @margin-base;
}
