.container {
  width: calc(100% - 40px);
  margin-left: 20px;
  @media screen and (min-width: @sm) {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  @media screen and (min-width: @md) {
    width: 80%;
    margin-left: 10%;
  }
  @media screen and (min-width: @lg) {
    width: 75%;
    margin-left: 12.5%;
  }
  @media screen and (min-width: 2140px) {
    max-width: 1361px;
  }
  margin-top: 60px;
}
.vertical-align {
  position: absolute;
  top: 50%;
  margin: 0px;
  transform: translateY(-50%);
}
.card-1 {
  margin-bottom: @margin-base * 2;
  margin-top: @margin-base * 2;
  border-radius: 5px;
  padding: 25px;
  width: 600px;
  box-shadow: @box-shadow-1;
  background-color: @white;
  width: 100%;
}
