// Colors
$theme-color-1: rgb(54, 172, 184);

$white: #fefefe;
$black: rgb(51,56, 58);

// font sizing
$font1: 1rem;
$font2: 1.25rem;
$font3: 1.5rem;
$font4: 2rem;
$font5: 2.5rem;
$font6: 3rem;
$font7: 5rem;
