@import '../../styles/base.less';
.NotePage {
  .main-container {
    // import a page container mixin
    .container();

  }
  .note-meta {
    p {
      font-size: @font3;
    }
    margin-bottom: @margin-base * 2;
  }
  .download-row {
    font-size: @font4;
    margin-top: @margin-base * 2;
    a {
      margin-left: @margin-base * 2;
    }
  }
  .pdf-wrapper {
    height:calc(100vh - 24px);
    .pdf-viewer {
      width: 100%;
      height:100%;
    }
  }
}
