@import '../../styles/base.less';

.Footer {
  text-align: center;
  font-size: @font3;
  height: @margin-base * 8;
  background-color: @white;
  border-top: 1px solid @black;
  margin-top: @margin-base * 8;
  line-height: @margin-base * 8;
}
